// Colors:
$light-blue: #0091DA 
$teal: #00A3A1
$purple: #6D2077
$dark-blue: #005EB8
$blue: #00338D
$text-blue: #003397

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: #fff
    line-height: 16px
    font-size: 14px
    padding: 0
    margin: 0
    font-family: 'KPMG App', Arial, sans-serif
    color: #333

.wrapper
    width: 540px
    margin: 0 auto
    .row
        flaot: left
        margin-bottom: 16px
        &:last-child
            margin: 0
        &:after
            clear: both
            display: block
            content: ''

.article
    float: left
    width: 260px
    height: 160px
    &:after
        clear: both
        display: block
        content: ''