* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  line-height: 16px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: 'KPMG App', Arial, sans-serif;
  color: #333; }

.wrapper {
  width: 540px;
  margin: 0 auto; }
  .wrapper .row {
    flaot: left;
    margin-bottom: 16px; }
    .wrapper .row:last-child {
      margin: 0; }
    .wrapper .row:after {
      clear: both;
      display: block;
      content: ''; }

.article {
  float: left;
  width: 260px;
  height: 160px; }
  .article:after {
    clear: both;
    display: block;
    content: ''; }
