html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../static/styles.css")
        title Newsfeed
    body
        .wrapper
            .row.top
                .hero-text
                    h3.news News For
                    h1.topic Real Estate In Philadelphia
                    h3.date January 5, 2018
                a(href="#" class="hero")
                    img(src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg", alt="background image")
                    .meta
                        h2.title 30% Increase In New Home Buyers
                        h3.auth Jane Doe | January 5, 2018
            .row.bottom
                a(href="#" class="article left")
                    img(src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg", alt="background image")
                    .meta
                        h2.title Real Estate Market On Rise
                        h3.auth Megan Slate | January 5, 2018
                a(href="#" class="article center")
                    img(src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg", alt="background image")
                    .meta
                        h2.title Best Market In Years
                        h3.auth John Smith | January 5, 2018
                a(href="#" class="article right")
                    img(src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg", alt="background image")
                    .meta
                        h2.title No Signs Of Stopping
                        h3.auth Mike Jones | January 5, 2018